<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BenefitPointSummaryPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <httpRuntime apartmentThreading="true" />
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--<identity impersonate="true" userName="mayur.darshale@usii.com" password="Welcome3"/>-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=USI-SQ-05;Database=BPPortal;User ID=bpportal;Password=Benefits2013;" name="ConnectionString" />
  </connectionStrings>
  <applicationSettings>
    <BenefitPointSummaryPortal.Properties.Settings>
      <setting name="BenefitPointSummaryPortal_BP_LoginV2_LoginV2" serializeAs="String">
        <value>https://www1.benefitpoint.com/aptusConnect/services/LoginV2SOAP</value>
      </setting>
      <setting name="BenefitPointSummaryPortal_BP_BrokerConnectV4_BrokerConnectV4" serializeAs="String">
        <value>https://www1.benefitpoint.com/aptusConnect/services/BrokerConnectV4SOAP</value>
      </setting>
      <setting name="BenefitPointSummaryPortal_wf_benefitpoint_V4_BrokerConnectV4" serializeAs="String">
        <value>https://www1.benefitpoint.com/aptusConnect/services/BrokerConnectV4SOAP</value>
      </setting>
      <setting name="BenefitPointSummaryPortal_Wf_BenefitPoint_LoginV2_LoginV2" serializeAs="String">
        <value>https://www1.benefitpoint.com/aptusConnect/services/LoginV2SOAP</value>
      </setting>
    </BenefitPointSummaryPortal.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="BPSummaryWebService_UserName" value="user11@usi.com">
    </add>
    <add key="BPSummaryWebService_Password" value="Reporting11">
    </add>
    <add key="wf_BPSummaryWebService_UserName" value="benefitpoint@nonuser.com">
    </add>
    <add key="Wf_BPSummaryWebService_Password" value="Ratpack1">
    </add>
    <add key="ExtensionsToDelete" value="docm|doc|docx|xls|xlsx|ppt|pptx" />
    <!-- Extensions for which the delete operation is to be performed -->
    <add key="DayInterval" value="3" />
    <!-- Interval for the number of days to keep file in the folder -->
    <add key="FolderPathDev" value="D:\Vaibhav\UAT\03 Aug 2015 Common Word Test\BenefitPointSummaryPortal\BenefitPointSummaryPortal\Files\" />
    <!-- Folder path for DEVELOPMENT enviornment -->
    <add key="FolderPathUAT" value="D:\Release\UAT\BenefitsReportingPortal\Files\" />
    <!-- Folder path for UAT enviornment -->
    <add key="FolderPathPROD" value="D:\Release\Production\BenefitsReportingPortal\Files\" />
    <!-- Folder path for PRODUCTION enviornment -->
    <add key="ColorFlagForContractReviewChecklist" value="True" />
    <!-- Check this flag for 'True' or 'False', if the flag is 'True' then the color will be applicable else it is not in the given template -->
    <add key="FooterText" value="CONFIDENTIAL &amp; PROPRIETARY:  Information contained on this website constitutes valuable and confidential proprietary information of USI Insurance Services LLC ('USI'). You may use this information only in connection with acquiring new or servicing existing clients for USI's benefit. You may not otherwise use or reproduce any portion of this website or any of its contents. You may not disclose this website or any of its contents to any third party without the prior written permission of USI.  All rights reserved." />
    <!--<add key="HomePageLink" value="http://usi-sp-01/IT%20Professionals/PMO/BPReports/Reports.aspx"/>-->
    <add key="HomePageLink" value="Home.aspx" />
    <add key="SSRSReportServer" value="http://reports.usii.com/reportserver" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
</configuration>